/* some hacks */

html {
  overflow-y: scroll;
}

/* IE7 overflow hackThe problem is that overflow: hidden won't work in IE7 unless the parent container has position: relative. */


/* http://stackoverflow.com/questions/9629698/css-overflow-issue-with-ie7/9629774#9629774 */

.ov {
  *position: relative;
  overflow: auto;
}

/*IE7 min-width会有bug 用*来写*/

.mWidth {
  min-width: 100px;
  *width: 100px;
}

/*fixed 可以加快渲染,某一列宽是通过表格的宽度来决定的*/

table {
  table-layout: fixed/auto;
}

/* scrollbar-arrow-color 滚动时滚动条的箭头的颜色IE专有 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .6);
}

/* 表格定宽超出用省略号 */

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
table td, table thead th {
  border: 1px dashed #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 解决块级元素设置为inline-block浏览器兼容ie6,7问题 */

div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*css3 circle*/


/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/*style input placeholder*/

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}

/* hide the cross in input 隐藏那个X号在输入框中 */

input::-ms-clear {
  display: none;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*vertical align*/

v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* font-family */


/*
System Font https://www.webkit.org/blog/3709/using-the-system-font-in-web-content/
OSX ^10.11 & iOS ^9  San Francisco & 苹方
*/

font-family: -apple-system;

/*English First*/


/*OSX ^10.10 IOS < 9*/

font-family: "Helvetica Neue";

/*Win "Helvetica"*/

font-family: Arial;
font-family: Tahoma;

/*Win ^8*/

font-family: "Segoe UI";

/*Chinese Fallback*/


/*OSX ^10.11 & iOS ^9  苹方（华康信凭黑）*/

font-family: "PingFang SC";

/*OSX ^10.6            冬青黑体*/

font-family: "Hiragino Sans GB";

/*OSX <10.6  & iOS <9  华文黑体*/

font-family: "STHeiti";

/*Win                  微软雅黑*/

font-family: "Microsoft YaHei";

/*Win                  微软正黑*/

font-family: "Microsoft JhengHei";

/*SourceHan - begin    思源黑体*/

font-family: "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC";

/*Linux                文泉驿微米黑*/

font-family: "Noto Sans CJK TC";

/*Win old              中易宋体*/

font-family: SimSun;
font-family: "\5b8b\4f53";

/*System Fallback*/

font-family: sans-serif;

/*common used fonts*/

font-family: -apple-system, "Helvetica Neue", Arial, Tahoma, "PingFang SC", "Microsoft YaHei", SimSun, sans-serif;

/*css3 vertical-align center and horizonal-align center*/

.flex-direction-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.flex-direction-horizonal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

/*Vertically center*/

.flex-vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* 垂直居中 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
}

/*Horizontally center*/

.flex-horizonal-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /* 水平居中*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
}

/*Horizontally and Vertically Centered by row flexDirection*/

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /* 水平居中*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  /* 垂直居中 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/*Horizontally and Vertically Centered by column flexDirection*/

.flex-vcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* 水平居中*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  /* 垂直居中 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/*texoverflow*/

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*texoverflow with only one line*/

.line-clamp {
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
css hover 图片放大
 */

.img-scale {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.img-scale:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/*
三角
 */

.left-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px;
  border-right-color: #f00;
}
.top-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px;
  border-bottom-color: #f00;
}
.right-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px;
  border-left-color: #f00;
}
.bottom-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px;
  border-top-color: #f00;
}

/*
select中文字对齐
 */
/*
右对齐,option要写为ltr是因为当有括号的时候需要这个ltr不然括号会显示有问题,反之亦然
 */
select {
  direction: rtl;
}
option {
  direction: ltr;
}

/*clearfix*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*扇形 这个是1/4个圆*/
.sector {
  border-radius: 100px 0 0;
  width: 100px;
  height: 100px;
}

/*not first-child*/
div ul:not(:first-child) {

}

/* input[type="file"]*/
.upload-input {

}

/* 元素内部的margin,当指定元素的height的时候，元素内部第一个元素写margin-top的时候
父元素得写over-flow:hidden
*/
.header {
  height: 200px;
  background-color: #f00;
  overflow: hidden;
}
.header__hd {
  margin: 0;
  margin-top: 20px;
}
.nav__header {
  background-color: #00f;
}
/*<div class="nav__header">这是导航顶部</div>
<div class="header">
  <h3 class="header__hd">这是头部</h3>
</div>*/
